#lets ignore any node modules - these can be pulled running "npm install" based on package.json
node_modules

#don't put any env variables up
*.env

#ignore anythign in the env folder as well if we have one
env

#let's ignore our build files for now... they can be re-generated when running the "tsc" command
build

#no need to keep our logs that are generated
log.txt
*.log